.perfiles-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.perfil-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.perfil-header {
  display: flex
}

.icono-perfil{
  font-size: 40px;
  color: #4caf50;
}

mat-icon{
  width: 40px !important;
  height: 40px !important;
}

.perfil-info {
  //display: flex;
  //flex-direction: row;
}

.perfil-info h3 {
  margin: 0;
  font-size: 16px;
}

.perfil-info p {
  margin-left: auto !important;
  font-size: 14px;
  color: gray;
}

.perfil-contenido {

  font-size: 14px;
  margin-left: 40px;
}
