<mat-card class="perfil-card">
  <div class="perfil-header">
    <div>
      <h3><strong>José Trejo Pérez de las casas</strong></h3>
      <p><strong>CURP:</strong> TEPJ780815HMCRMS05</p>
      <p><strong>Fecha de nacimiento:</strong> 15/08/1978</p>
      <p><strong>Género:</strong> Masculino</p>
    </div>
  </div>
</mat-card>
<h2>Contacto</h2>
<mat-card class="perfil-card">
  <div class="perfil-header">
    <mat-icon class="icono-perfil">message</mat-icon>
    <h3>Chatea con nosotros</h3>
  </div>
  <div class="perfil-header">
    <mat-icon class="icono-perfil">phone</mat-icon>
    <h3>800 1234 5678</h3>
  </div>
  <div class="perfil-header">
    <mat-icon class="icono-perfil">notifications</mat-icon>
    <h3>Esquema de vacunación oficial</h3>
  </div>
</mat-card>


<h2>Legales</h2>
<mat-card class="perfil-card">
  <div class="perfil-header">
    <h3>Aviso de privacidad</h3>
  </div>
  <div class="perfil-header">
    <h3>Tratamiento de datos</h3>
  </div>
  <div class="perfil-header">
    <h3 style="margin-right: 10px;">Estoy de acuerdo que mis datos ingresados sean tratados conforma a la politica de transparencia y tratamiento de datos</h3>
    <mat-slide-toggle
    class="example-margin">
</mat-slide-toggle>
  </div>
</mat-card>
