
<div class="tabs-container">
  <!-- Encabezado de tabs -->
  <div class="tabs-header">
    <div
      class="tab"
      *ngFor="let tab of menu; let i = index"
      [class.active]="selectedMenuIndex === i"
      (click)="selectMenu(i)"
    >
      <div class="tab-icon">
        <img [src]="tab.icono" [alt]="tab.titulo" />
      </div>
      <p>{{ tab.titulo }}</p>
    </div>
  </div>


  <div class="tab-content" *ngIf="selectedMenuIndex == 0">
    <!-- TABS -->

    <div class="tabs-container">

      <div class="menus">
        <button
          [class.active]="selectedTabIndex === 0"
          (click)="selectTab(0)"
          class="menu-button"
        >
          <div
            class="iconoInyeccion"
            [class.active]="selectedTabIndex === 0"
          ></div>
        </button>

        <button
          [class.active]="selectedTabIndex === 1"
          (click)="selectTab(1)"
          class="menu-button"
        >
          <div
            class="iconoEscudo"
            [class.active]="selectedTabIndex === 1"
          ></div>
        </button>

        <button
          [class.active]="selectedTabIndex === 2"
          (click)="selectTab(2)"
          class="menu-button"
        >
          <div class="iconoOtros" [class.active]="selectedTabIndex === 2"></div>
        </button>
      </div>
      <div class="menu-content">
        <ng-container *ngIf="tabs[selectedTabIndex]">
          {{ tabs[selectedTabIndex].contenido }}
        </ng-container>
      </div>


      <div class="tab-content" *ngIf="selectedTabIndex == 0">
        <section class="page-section">
          <div class="container">
            <div class="group">
              <div class="icon">
                <!-- <mat-icon>person</mat-icon> -->
                <img
                  style="width: 24px; filter: invert(100%)"
                  src="assets/images/3ra_edad.png"
                />
              </div>
              <div class="content">
                <h4>Adolescentes - 11 años</h4>
              </div>
            </div>
            <ul class="timeline">
              <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>N/A</h5>
                    <h5 class="subheading">Influenza</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Anual 2024</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div
                  class="timeline-panel"
                  data-toggle="modal"
                  data-target="#portfolioModal1"
                >
                  <div class="timeline-heading">
                    <h5>12/nov/2024 - 10:20 am</h5>
                    <h5 class="subheading">Neumococo</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Mayores de 65 años o en riesgo</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>02/ene/2024 - 10:20 am</h5>
                    <h5 class="subheading">TD/TDPA</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Tétanos, Difteria, Tos ferina. Cada 10 años
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>

      <div class="tab-content" *ngIf="selectedTabIndex == 1">
        <section class="page-section">
          <div class="container">
            <div class="group">
              <div class="icon">
                <!-- <mat-icon>person</mat-icon> -->
                <img
                  style="width: 24px; filter: invert(100%)"
                  src="assets/images/3ra_edad.png"
                />
              </div>
              <div class="content">
                <h4>Adolescentes - 11 años</h4>
              </div>
            </div>
            <ul class="timeline">
              <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>N/A</h5>
                    <h5 class="subheading">Influenza</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Anual 2024</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="tab-content" *ngIf="selectedMenuIndex == 1">
    <h3>Código QR</h3>
    <div class="card text-center">
      <div class="content">
        <h3><strong>Juan Carlos Martínez Rodríguez</strong></h3>
        <p class="text-muted">CURP: MARJ970603HQRRDN07</p>
        <br>
        <img src="assets/images/QR.png">
      </div>
    </div>

    <div class="card text-center">
      <div class="content" >
        <p class="text-muted" >Presenta este código QR al personal médico para obtener tu esquema de vacunación y continuar con la aplicación de tu vacuna</p>
      </div>
<br>
    </div>
    <div class="card text-center">
      <div class="content">
        <p class="text-muted">Descarga de QR</p>
      </div>
    </div>

  </div>
  <div class="tab-content" *ngIf="selectedMenuIndex == 2">
    <p>Notificaciones</p>
    <app-notificaciones></app-notificaciones>

<div>

</div>

  </div>
  <div class="tab-content" *ngIf="selectedMenuIndex == 3">
    <p>Perfil</p>
    <app-perfil></app-perfil>
  </div>
</div>
