@import '../../../../styles.scss';
.tabs-container {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 20px;
}




/* Encabezado de las tabs */
.tabs-header {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #f0f0f0;
  margin-bottom: 20px;
}

.tab {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #555;
}

.tab:hover {
  color: #800040;
}

.tab.active {
  color: #800040;
  border-bottom: 3px solid #800040;
}

.tab-icon img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}


//INYECCIONES

.menus {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: 20px 0;
}

.menu-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.menu-button:hover {
  background-color: #f0f0f0;
  color: white;
  fill: currentColor;
  transform: scale(1.1);
}

.menu-button.active {
  background-color: $vino;
  color: white;

}

.menu-icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.menu-content {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}



.iconoInyeccion {
  width: 50px;
  height: 50px;
  background-color: $vino; /* Color inicial */
  mask: url('../../../../assets/images/inyeccion.svg') no-repeat center;
  -webkit-mask: url('../../../../assets/images/inyeccion.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  transition: background-color 0.3s; /* Animación suave */
}

.iconoInyeccion.active {
  background-color: white ;
}


.iconoEscudo {
  width: 50px;
  height: 50px;
  background-color: $vino; /* Color inicial */
  mask: url('../../../../assets/images/escudo.svg') no-repeat center;
  -webkit-mask: url('../../../../assets/images/escudo.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  transition: background-color 0.3s; /* Animación suave */
}

.iconoEscudo.active {
  background-color: white ;
}

.iconoOtros {
  width: 50px;
  height: 50px;
  background-color: $vino; /* Color inicial */
  mask: url('../../../../assets/images/virus.svg') no-repeat center;
  -webkit-mask: url('../../../../assets/images/virus.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  transition: background-color 0.3s; /* Animación suave */
}

.iconoOtros.active {
  background-color: white ;
}




.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
section {
  padding: 9rem 0;
}




.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  margin-left: 10px;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: $verde;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
  cursor: pointer;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 24px;
  width: 30px;
  height: 30px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid $verde;
  border-radius: 100%;
  background-color: white;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}


.group {
  display: flex;
  align-items: center;
  gap: 20px;
  //margin-left: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $verde;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.content {
  flex: 1;
}



@media (max-width: 600px) {
  /* … */
  .tab-content{
    padding: 0px ;
  }

  .tab-container{
    padding: 5px;
  }
}
